<html>
<head>    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">   
</head>
<body> 
<nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="#">Best Cars dealership</a>
                  <a class="btn btn-link" href="/djangoapp/about">About</a>
                  <a class="btn btn-link" href="/djangoapp/contact">Contact</a>
            </div>
        </div>
    </nav>
<h2 style ="padding: 10px">
Contact Us
</h2>
<h6 style ="padding: 0px 10px 10">
<p>Address: 123 Main St</p>
<p>Phone Number: (123)456-7890</p>
</h6>
</body>
</html>